column.title {
	width:100px;
}

.actionsGrid row > radio {
	font-weight:normal;
}

.actionsGrid row > description {
	font-style:italic;
}

.actionsGrid .actionSettings {
	margin-left:22px;
}

.validationError {
	color: #ff0000 !important;
}