#linkNinja-toolbar-button,
#wrapper-linkNinja-toolbar-button {
}

.custombutton {
	list-style-image: url("linkNinja24.svg");
}

.custombutton:hover {
	list-style-image: url("linkNinja24.svg");
}

[iconsize="small"] .custombutton {
	list-style-image: url("linkNinja16.svg");
}

[iconsize="small"] .custombutton[disabled="yes"] {
  	/*list-style-image: url("linkNinjaDisabled16.svg");*/
    opacity:0.5;
}

/*[iconsize="small"] .custombutton:hover {
	list-style-image: url("linkNinjaHover16.svg");
}*/
